### Prueba

In [1]:
import pandas as pd 
import boto3
import io

In [9]:
def get_data_s3():
    '''Descarga un archivo desde un bucket de S3 y carga los datos en un DataFrame'''
    
    
    aws_access_key_id = 'AKIAWHI7FC5DZQSWTTN7'
    aws_secret_access_key = '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'
    region_name = "us-east-1"
    

    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      region_name=region_name)

    bucket_name = 'proyectotati'
    s3_path = 'pre_trained_data/data.csv'
    
    try:
        response = s3.get_object(Bucket=bucket_name, Key=s3_path)

        # Lee el contenido del archivo en un DataFrame
        df = pd.read_csv(io.BytesIO(response['Body'].read()))
        df['ds'] = pd.to_datetime(df['ds'])

        print(df.unique_id.unique())
        
        lista_df = ['impo_1', 'impo_2', 'impo_3', 'impo_4', 'impo_5', 'impo_6', 'impo_7',
                    'expo_1', 'expo_2', 'expo_3', 'expo_4', 'expo_5']

        nombres_motivos = ['USA FLAT', 'ORIENTE UPS', 'CHINA LATIN LOGISTIC  CO via UPS/FEDEX', 'EUROPA UPS',
                           'Courier Oriente FLAT Wish/Latin logistic', 'Impo Geobox Flat ', 'UPS MERCOSUR',
                           'Exporta Simple - Puerta-Aeropuerto', 'CARGA AEREA EXPO PREPAID', 'CARGA AEREA EXPO - Q',
                           '4-Expo - Fedex Economy', '6-Expo-UPS Express']

        dic_num_motivos = {lista_df[i]: nombres_motivos[i]
                           for i in range(len(lista_df))}

        df['unique_id'] = df['unique_id'].map(dic_num_motivos)

        df.rename(columns={"unique_id": "family"}, inplace=True)
        
        ##agrego el seleccionar todos
        fecha_agregada = df.groupby(['ds'])['y'].sum().reset_index()
        fecha_agregada['family'] = 'Seleccionar todos'
        dff = pd.concat([df, fecha_agregada], ignore_index=True)
        
        print("Data leida con exito")

        return dff
    
    except Exception as e:
        print(f'Error al cargar el archivo desde S3: {str(e)}')
        return None

In [10]:
df= get_data_s3()

['expo_3' 'expo_2' 'impo_3' 'impo_4' 'impo_2' 'impo_7' 'impo_1']
Data leida con exito

In [6]:
len(df.family.unique())

8

In [66]:
def get_forecast_s3():
    '''Lee el forecast guardado en el bucket para mostrar las predicciones en la grafica'''
    
    
    aws_access_key_id = 'AKIAWHI7FC5DZQSWTTN7'
    aws_secret_access_key = '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'
    region_name = "us-east-1"

    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      region_name=region_name)

    bucket_name = 'proyectotati'
    s3_path = 'forecast/all_preds.csv'

    try:

        response = s3.get_object(Bucket=bucket_name, Key=s3_path)

        # Lee el contenido del archivo en un DataFrame
        df = pd.read_csv(io.BytesIO(response['Body'].read()))
        df['ds'] = pd.to_datetime(df['ds'])

        lista_df = ['impo_1', 'impo_2', 'impo_3', 'impo_4', 'impo_5', 'impo_6', 'impo_7',
                    'expo_1', 'expo_2', 'expo_3', 'expo_4', 'expo_5']

        nombres_motivos = ['USA FLAT', 'ORIENTE UPS', 'CHINA LATIN LOGISTIC  CO via UPS/FEDEX', 'EUROPA UPS',
                           'Courier Oriente FLAT Wish/Latin logistic', 'Impo Geobox Flat ', 'UPS MERCOSUR',
                           'Exporta Simple - Puerta-Aeropuerto', 'CARGA AEREA EXPO PREPAID', 'CARGA AEREA EXPO - Q',
                           '4-Expo - Fedex Economy', '6-Expo-UPS Express']

        dic_num_motivos = {lista_df[i]: nombres_motivos[i]
                           for i in range(len(lista_df))}

        df['unique_id'] = df['unique_id'].map(dic_num_motivos)

        df.rename(columns={"unique_id": "family"}, inplace=True)
        
        ##agrego el seleccionar todos 
        fecha_agregada = df.groupby(['ds'])[['pred', 'p25', 'p75', 'p10', 'p90']].sum().reset_index()
        fecha_agregada['family'] = 'Seleccionar todos'
        dff = pd.concat([df, fecha_agregada], ignore_index=True)

        print("Forecast leido con exito")

        return dff

    except Exception as e:
        print(f'Error al cargar el archivo desde S3: {str(e)}')
        return None

In [67]:
all_preds= get_forecast_s3()

Forecast leido con exito

In [68]:
all_preds.tail()

,ds,family,pred,p25,p75,p10,p90
125,2023-10-29,Seleccionar todos,12080.64,7481.50,14478.75,5146.6,20441.3
126,2023-11-05,Seleccionar todos,24963.27,7687.75,15760.75,5138.7,22055.3
127,2023-11-12,Seleccionar todos,16720.16,7518.25,15956.75,5363.4,24372.3
128,2023-11-19,Seleccionar todos,15927.15,7423.25,14907.00,4974.1,20438.0
129,2023-11-26,Seleccionar todos,19184.10,7096.25,15361.00,5202.6,23419.0

In [74]:
ticker= 'USA FLAT'
df = all_preds.loc[all_preds['family'] == ticker]
a= list(df.pred)[0]
a

6088.5

### prueba para extraer la data de analytics

In [3]:
from etl import ETL
import datetime
import numpy as np
import pandas as pd

In [2]:
df_guias=ETL.extract()

Connection to local db done

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_guias = pd.read_sql_query(query_guias, cnxn)

Data Extraction done :)

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_motivos = pd.read_sql_query(query_motivos, cnxn)

In [3]:
df_guias.head()

,Guias_Id,Guias_Numero,Guias_Fecha,Motivos_Id,Clientes_Codigo,Clientes_Nombre,Guias_Peso,Guias_VolLargo,Guias_VolAncho,Guias_VolAlto,Guias_PesoVol,Guias_FOB,Guias_ExpoTotVta,Guias_ImpoTotVta,Guias_VentaI,unique_id,Codigo Motivo
0,404102,996-10129556,2019-08-30,160,11075,COLL FLORIT MARIA INES,144.0,None,None,None,192.0,1528.20,1298.1,NaN,0.00,Exporta Simple - Puerta-Aeropuerto,220
1,406822,US00192167,2019-01-02,36,3948,HTM S.A.,13.0,None,None,None,2.0,237.50,NaN,256.70,161.36,USA FLAT,528
2,406824,I180974591,2019-01-02,128,3948,HTM S.A.,23.0,None,None,None,11.0,1785.78,NaN,1150.81,434.01,NO USAR IB IMPO MUNDIAL Geobox 53,573
3,406825,US00192152,2019-01-02,36,1101,TRACK-MAR SACI,1.0,None,None,None,1.0,84.65,NaN,131.69,92.83,USA FLAT,528
4,406826,RM00191696,2019-01-02,51,7047,INDUSTRIAS MOVILIFT S.R.L.,32.0,None,None,None,35.0,1316.22,NaN,1161.37,567.92,ORIENTE FEDEX,531

In [4]:
df_guias = ETL.transform(df_guias)

Data Transformation for model done

In [5]:
df_guias.head()

          ds unique_id      y
0 2019-01-06    expo_4   31.0
1 2019-01-06    expo_5  112.0
2 2019-01-06    expo_3   71.0
3 2019-01-06    expo_2    0.0
4 2019-01-06    impo_3  221.0

In [6]:
df_guias= ETL.extract()

Connection to local db done

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_guias = pd.read_sql_query(query_guias, cnxn)

Data Extraction done :)

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_motivos = pd.read_sql_query(query_motivos, cnxn)

In [7]:
df_guias.head()

,Guias_Id,Guias_Numero,Guias_Fecha,Motivos_Id,Clientes_Codigo,Clientes_Nombre,Guias_Peso,Guias_VolLargo,Guias_VolAncho,Guias_VolAlto,Guias_PesoVol,Guias_FOB,Guias_ExpoTotVta,Guias_ImpoTotVta,Guias_VentaI,unique_id,Codigo Motivo
0,404102,996-10129556,2019-08-30,160,11075,COLL FLORIT MARIA INES,144.0,None,None,None,192.0,1528.20,1298.1,NaN,0.00,Exporta Simple - Puerta-Aeropuerto,220
1,406822,US00192167,2019-01-02,36,3948,HTM S.A.,13.0,None,None,None,2.0,237.50,NaN,256.70,161.36,USA FLAT,528
2,406824,I180974591,2019-01-02,128,3948,HTM S.A.,23.0,None,None,None,11.0,1785.78,NaN,1150.81,434.01,NO USAR IB IMPO MUNDIAL Geobox 53,573
3,406825,US00192152,2019-01-02,36,1101,TRACK-MAR SACI,1.0,None,None,None,1.0,84.65,NaN,131.69,92.83,USA FLAT,528
4,406826,RM00191696,2019-01-02,51,7047,INDUSTRIAS MOVILIFT S.R.L.,32.0,None,None,None,35.0,1316.22,NaN,1161.37,567.92,ORIENTE FEDEX,531

In [8]:
df_analytics = ETL.clean_analytics(df_guias)

Analytics Data cleaning done

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_guias.rename(columns={'unique_id': 'Nombre Motivo',
c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_guias['mes_año'] = df_guias['Guias_Fecha'].dt.strftime('%Y-%m')

In [9]:
df_analytics.head()

,mes_año,Clientes_Codigo,Cliente,Codigo Motivo,Nombre Motivo,Guias_Peso,Guias_PesoVol,Guias_FOB,Guias_Numero,Guias_VentaI,Guias_ExpoTotVta,venta,Tipo,Tipo2,Tipo3,kilos facturables,Categoria
0,2022-12,9760,QUICK INTERNATIONAL COURIER INC,150,CARGA AEREA EXPO - Q,1146.5,2440.5,3340.00,334,0.00,47038.80,47038.80,Expo,Carga,Carga Aerea,2440.5,Select
1,2023-01,378,FLYING AMERICA @ CASADEI,116,4-Expo - Fedex Economy,4.0,2.5,234.00,1,0.00,94.49,94.49,Expo,Courier Expo,Courier,4.0,Casual
2,2023-01,436,CIKA ELECTRONICA S.R.L.,550,ORIENTE UPS,8.0,8.0,3834.24,4,1266.60,0.00,1266.60,Impo,Courier Impo,Courier,8.0,Casual
3,2023-01,473,DIVISION TURBOS S.R.L.,528,USA FLAT,4.0,7.0,2515.48,4,364.30,0.00,364.30,Impo,Courier Impo,Courier,7.0,Casual
4,2023-01,573,ELEVAR S.R.L.,572,Impo Imaca Flat Europa,48.0,83.0,2802.07,3,2187.46,0.00,2187.46,Impo,Courier Impo,Courier,83.0,Casual

In [24]:
df= df_analytics

dff= df[df['Nombre Motivo']== 'USA FLAT']
dff= df[df['mes_año']== '2023-01']
dff.head()

,mes_año,Clientes_Codigo,Cliente,Codigo Motivo,Nombre Motivo,Guias_Peso,Guias_PesoVol,Guias_FOB,Guias_Numero,Guias_VentaI,Guias_ExpoTotVta,venta,Tipo,Tipo2,Tipo3,kilos facturables,Categoria
1,2023-01,378,FLYING AMERICA @ CASADEI,116,4-Expo - Fedex Economy,4.0,2.5,234.00,1,0.00,94.49,94.49,Expo,Courier Expo,Courier,4.0,Casual
2,2023-01,436,CIKA ELECTRONICA S.R.L.,550,ORIENTE UPS,8.0,8.0,3834.24,4,1266.60,0.00,1266.60,Impo,Courier Impo,Courier,8.0,Casual
3,2023-01,473,DIVISION TURBOS S.R.L.,528,USA FLAT,4.0,7.0,2515.48,4,364.30,0.00,364.30,Impo,Courier Impo,Courier,7.0,Casual
4,2023-01,573,ELEVAR S.R.L.,572,Impo Imaca Flat Europa,48.0,83.0,2802.07,3,2187.46,0.00,2187.46,Impo,Courier Impo,Courier,83.0,Casual
5,2023-01,573,ELEVAR S.R.L.,594,TVH USA,12.0,6.0,498.30,1,218.12,0.00,218.12,Impo,Courier Impo,Courier,12.0,Casual

In [18]:
total_kilos= dff['kilos facturables'].sum()
formatted_total = f"{total_kilos:.0f} kg"

print(formatted_total)

214017 kg

In [25]:
int('02')

2

In [83]:
date= '2023-02'
dff= df[df['Nombre Motivo']== 'USA FLAT']
df_filtro = dff[dff['mes_año'] == '2023-02']
total_kilos = df_filtro['kilos facturables'].sum()

In [84]:
total_kilos

19217.5

In [85]:
num_mes= list(date)[-2:]
pal= num_mes[0]+num_mes[1]
num= int(pal)
mes_anterior= num-1
date_anterior= f'2023-{str(mes_anterior)}'
if len(date_anterior)==6:
    date_anterior= f'2023-0{str(mes_anterior)}'
else:
    date_anterior= f'2023-{str(mes_anterior)}'

date_anterior

'2023-01'

In [90]:
df_filtro_mes_anterior= dff[dff['mes_año'] == date_anterior]

In [96]:
len(df_filtro_mes_anterior['Cliente'].unique())

178

In [2]:
def get_analytics_s3():
    '''Lee la data de analytics guardado en el bucket'''
    
    aws_access_key_id = 'AKIAWHI7FC5DZQSWTTN7'
    aws_secret_access_key = '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'
    region_name = "us-east-1"

    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      region_name=region_name)

    bucket_name = 'proyectotati'
    s3_path = 'analytics/data_mes_historico.csv'

    

    response = s3.get_object(Bucket=bucket_name, Key=s3_path)

        # Lee el contenido del archivo en un DataFrame
    df = pd.read_csv(io.BytesIO(response['Body'].read()))


    print("Data Analytics leido con exito")

    return df

In [56]:
df= get_analytics_s3()

Data Analytics leido con exito

In [60]:
df.columns

Index(['mes_año', 'Clientes_Codigo', 'Cliente', 'Codigo Motivo',
       'Nombre Motivo', 'Guias_Peso', 'Guias_PesoVol', 'Guias_FOB',
       'Guias_Numero', 'Guias_VentaI', 'Guias_ExpoTotVta', 'venta', 'Tipo',
       'Tipo2', 'Tipo3', 'kilos facturables', 'Categoria'],
      dtype='object')

In [61]:
def generate_table_data():
    meses_filtrados = df['mes_año'].unique()[-5:]
    df_filtrado = df[df['mes_año'].isin(meses_filtrados)]

    # 2. Pivotar el DataFrame para obtener una columna por cada mes
    df_pivot = df_filtrado.pivot_table(index=['Cliente', 'Nombre Motivo'],
                                   columns='mes_año',
                                   values='kilos facturables',
                                   aggfunc='sum',
                                   fill_value=0)

    df_pivot['Total'] = df_pivot.sum(axis=1)
    df_pivot = df_pivot.reset_index()  # Restablecer los índices

    df_pivot = df_pivot.sort_values(by='Total', ascending=False)

    
    return df_pivot

In [62]:
df_pivot= generate_table_data()

In [65]:
df_pivot

mes_año,Cliente,Nombre Motivo,2023-05,2023-06,2023-07,2023-08,2023-09,Total
1353,TRACK-MAR SACI,USA FLAT,3509.0,1900.0,2254.0,2317.0,1364.0,11344.0
821,LMA INDUSTRIAL S.A.,USA FLAT,1305.0,1534.0,2272.0,3082.0,1727.0,9920.0
1113,QUICK INTERNATIONAL COURIER INC,CARGA AEREA EXPO - Q,2242.5,2269.5,2461.5,2661.0,0.0,9634.5
835,LOPEZ DIESEL SA,USA FLAT,2071.0,2049.0,1855.0,1775.0,1204.0,8954.0
1237,SERVICIOS VIALES DE SANTA FE S.A.,USA FLAT,1621.0,1622.0,904.0,628.0,552.0,5327.0
...,...,...,...,...,...,...,...,...
761,KMC EQUIPMENT S.R.L.,8 Expo DHL,0.5,0.0,0.0,0.0,0.0,0.5
502,FLINGDAY S.A.,8 Expo DHL,0.5,0.0,0.0,0.0,0.0,0.5
1265,SOCIEDAD MILITAR SEGURO DE VIDA INSTITUCION MU...,5-EXPO - UPS Envelope,0.0,0.0,0.0,0.0,0.5,0.5
785,LABORATORIOS VABRIELA SRL,1-Expo - PTY FEDEX Envelope,0.5,0.0,0.0,0.0,0.0,0.5
1324,TECNICOM S R L,5-EXPO - UPS Envelope,0.0,0.0,0.0,0.0,0.5,0.5