### Prueba

In [1]:
import pandas as pd 
import boto3
import io

In [9]:
def get_data_s3():
    '''Descarga un archivo desde un bucket de S3 y carga los datos en un DataFrame'''
    
    
    aws_access_key_id = 'AKIAWHI7FC5DZQSWTTN7'
    aws_secret_access_key = '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'
    region_name = "us-east-1"
    

    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      region_name=region_name)

    bucket_name = 'proyectotati'
    s3_path = 'pre_trained_data/data.csv'
    
    try:
        response = s3.get_object(Bucket=bucket_name, Key=s3_path)

        # Lee el contenido del archivo en un DataFrame
        df = pd.read_csv(io.BytesIO(response['Body'].read()))
        df['ds'] = pd.to_datetime(df['ds'])

        print(df.unique_id.unique())
        
        lista_df = ['impo_1', 'impo_2', 'impo_3', 'impo_4', 'impo_5', 'impo_6', 'impo_7',
                    'expo_1', 'expo_2', 'expo_3', 'expo_4', 'expo_5']

        nombres_motivos = ['USA FLAT', 'ORIENTE UPS', 'CHINA LATIN LOGISTIC  CO via UPS/FEDEX', 'EUROPA UPS',
                           'Courier Oriente FLAT Wish/Latin logistic', 'Impo Geobox Flat ', 'UPS MERCOSUR',
                           'Exporta Simple - Puerta-Aeropuerto', 'CARGA AEREA EXPO PREPAID', 'CARGA AEREA EXPO - Q',
                           '4-Expo - Fedex Economy', '6-Expo-UPS Express']

        dic_num_motivos = {lista_df[i]: nombres_motivos[i]
                           for i in range(len(lista_df))}

        df['unique_id'] = df['unique_id'].map(dic_num_motivos)

        df.rename(columns={"unique_id": "family"}, inplace=True)
        
        ##agrego el seleccionar todos
        fecha_agregada = df.groupby(['ds'])['y'].sum().reset_index()
        fecha_agregada['family'] = 'Seleccionar todos'
        dff = pd.concat([df, fecha_agregada], ignore_index=True)
        
        print("Data leida con exito")

        return dff
    
    except Exception as e:
        print(f'Error al cargar el archivo desde S3: {str(e)}')
        return None

In [10]:
df= get_data_s3()

['expo_3' 'expo_2' 'impo_3' 'impo_4' 'impo_2' 'impo_7' 'impo_1']
Data leida con exito

In [6]:
len(df.family.unique())

8

In [47]:
def get_forecast_s3():
    '''Lee el forecast guardado en el bucket para mostrar las predicciones en la grafica'''
    
    
    aws_access_key_id = 'AKIAWHI7FC5DZQSWTTN7'
    aws_secret_access_key = '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'
    region_name = "us-east-1"

    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      region_name=region_name)

    bucket_name = 'proyectotati'
    s3_path = 'forecast/all_preds.csv'

    try:

        response = s3.get_object(Bucket=bucket_name, Key=s3_path)

        # Lee el contenido del archivo en un DataFrame
        df = pd.read_csv(io.BytesIO(response['Body'].read()))
        df['ds'] = pd.to_datetime(df['ds'])

        lista_df = ['impo_1', 'impo_2', 'impo_3', 'impo_4', 'impo_5', 'impo_6', 'impo_7',
                    'expo_1', 'expo_2', 'expo_3', 'expo_4', 'expo_5']

        nombres_motivos = ['USA FLAT', 'ORIENTE UPS', 'CHINA LATIN LOGISTIC  CO via UPS/FEDEX', 'EUROPA UPS',
                           'Courier Oriente FLAT Wish/Latin logistic', 'Impo Geobox Flat ', 'UPS MERCOSUR',
                           'Exporta Simple - Puerta-Aeropuerto', 'CARGA AEREA EXPO PREPAID', 'CARGA AEREA EXPO - Q',
                           '4-Expo - Fedex Economy', '6-Expo-UPS Express']

        dic_num_motivos = {lista_df[i]: nombres_motivos[i]
                           for i in range(len(lista_df))}

        df['unique_id'] = df['unique_id'].map(dic_num_motivos)

        df.rename(columns={"unique_id": "family"}, inplace=True)
        
        ##agrego el seleccionar todos 
        fecha_agregada = df.groupby(['ds'])[['pred', 'p25', 'p75', 'p10', 'p90']].sum().reset_index()
        fecha_agregada['family'] = 'Seleccionar todos'
        dff = pd.concat([df, fecha_agregada], ignore_index=True)

        print("Forecast leido con exito")

        return dff

    except Exception as e:
        print(f'Error al cargar el archivo desde S3: {str(e)}')
        return None

In [48]:
all_preds= get_forecast_s3()

Forecast leido con exito

In [49]:
all_preds.tail()

,ds,family,pred,p25,p75,p10,p90
125,2023-10-29,Seleccionar todos,14838.11,4369.00,16639.25,1973.1,34046.8
126,2023-11-05,Seleccionar todos,23693.60,4536.50,16561.50,2213.5,49583.5
127,2023-11-12,Seleccionar todos,21215.14,4759.00,18404.75,2560.2,36299.9
128,2023-11-19,Seleccionar todos,16305.08,4767.25,15941.25,2875.3,30083.7
129,2023-11-26,Seleccionar todos,22507.81,4570.00,17189.50,2234.2,43654.0

### prueba para extraer la data de analytics

In [1]:
from etl import ETL
import datetime
import numpy as np
import pandas as pd

In [2]:
df_guias=ETL.extract()

Connection to local db done

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_guias = pd.read_sql_query(query_guias, cnxn)

Data Extraction done :)

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_motivos = pd.read_sql_query(query_motivos, cnxn)

In [3]:
df_guias.head()

,Guias_Id,Guias_Numero,Guias_Fecha,Motivos_Id,Clientes_Codigo,Clientes_Nombre,Guias_Peso,Guias_VolLargo,Guias_VolAncho,Guias_VolAlto,Guias_PesoVol,Guias_FOB,Guias_ExpoTotVta,Guias_ImpoTotVta,Guias_VentaI,unique_id,Codigo Motivo
0,404102,996-10129556,2019-08-30,160,11075,COLL FLORIT MARIA INES,144.0,None,None,None,192.0,1528.20,1298.1,NaN,0.00,Exporta Simple - Puerta-Aeropuerto,220
1,406822,US00192167,2019-01-02,36,3948,HTM S.A.,13.0,None,None,None,2.0,237.50,NaN,256.70,161.36,USA FLAT,528
2,406824,I180974591,2019-01-02,128,3948,HTM S.A.,23.0,None,None,None,11.0,1785.78,NaN,1150.81,434.01,NO USAR IB IMPO MUNDIAL Geobox 53,573
3,406825,US00192152,2019-01-02,36,1101,TRACK-MAR SACI,1.0,None,None,None,1.0,84.65,NaN,131.69,92.83,USA FLAT,528
4,406826,RM00191696,2019-01-02,51,7047,INDUSTRIAS MOVILIFT S.R.L.,32.0,None,None,None,35.0,1316.22,NaN,1161.37,567.92,ORIENTE FEDEX,531

In [4]:
df_guias = ETL.transform(df_guias)

Data Transformation for model done

In [5]:
df_guias.head()

          ds unique_id      y
0 2019-01-06    expo_4   31.0
1 2019-01-06    expo_5  112.0
2 2019-01-06    expo_3   71.0
3 2019-01-06    expo_2    0.0
4 2019-01-06    impo_3  221.0

In [6]:
df_guias= ETL.extract()

Connection to local db done

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_guias = pd.read_sql_query(query_guias, cnxn)

Data Extraction done :)

c:\Users\Bravo15\Desktop\raico\Proyecto final\Project_Raiconet_101\Remote Task\etl.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_motivos = pd.read_sql_query(query_motivos, cnxn)

In [7]:
df_guias.head()

,Guias_Id,Guias_Numero,Guias_Fecha,Motivos_Id,Clientes_Codigo,Clientes_Nombre,Guias_Peso,Guias_VolLargo,Guias_VolAncho,Guias_VolAlto,Guias_PesoVol,Guias_FOB,Guias_ExpoTotVta,Guias_ImpoTotVta,Guias_VentaI,unique_id,Codigo Motivo
0,404102,996-10129556,2019-08-30,160,11075,COLL FLORIT MARIA INES,144.0,None,None,None,192.0,1528.20,1298.1,NaN,0.00,Exporta Simple - Puerta-Aeropuerto,220
1,406822,US00192167,2019-01-02,36,3948,HTM S.A.,13.0,None,None,None,2.0,237.50,NaN,256.70,161.36,USA FLAT,528
2,406824,I180974591,2019-01-02,128,3948,HTM S.A.,23.0,None,None,None,11.0,1785.78,NaN,1150.81,434.01,NO USAR IB IMPO MUNDIAL Geobox 53,573
3,406825,US00192152,2019-01-02,36,1101,TRACK-MAR SACI,1.0,None,None,None,1.0,84.65,NaN,131.69,92.83,USA FLAT,528
4,406826,RM00191696,2019-01-02,51,7047,INDUSTRIAS MOVILIFT S.R.L.,32.0,None,None,None,35.0,1316.22,NaN,1161.37,567.92,ORIENTE FEDEX,531

In [8]:
df_analytics = ETL.clean_analytics(df_guias)

Analytics Data cleaning done

In [9]:
df_analytics.head()

,mes_año,Clientes_Codigo,Cliente,Codigo Motivo,Nombre Motivo,Guias_Peso,Guias_PesoVol,Guias_FOB,Guias_Numero,Guias_VentaI,Guias_ExpoTotVta,venta,Tipo,Tipo2,Tipo3,kilos facturables,Categoria
0,2019-01,311,SOUTHAMERICAN SAILS INTERNACIONAL S.A.,528,USA FLAT,54.0,58.0,479.94,2,832.80,0.00,832.80,Impo,Courier Impo,Courier,58.0,Casual
1,2019-01,315,ESETECE S.A.,112,3-Expo - PTY FEDEX,5.5,12.5,100.00,1,0.00,306.01,306.01,Expo,Courier Expo,Courier,12.5,Casual
2,2019-01,378,FLYING AMERICA @ CASADEI,112,3-Expo - PTY FEDEX,2.5,3.5,220.00,2,0.00,149.38,149.38,Expo,Courier Expo,Courier,3.5,Casual
3,2019-01,378,FLYING AMERICA @ CASADEI,116,4-Expo - Fedex Economy,6.0,8.0,8.00,1,0.00,102.44,102.44,Expo,Courier Expo,Courier,8.0,Casual
4,2019-01,436,CIKA ELECTRONICA S.R.L.,528,USA FLAT,18.0,14.0,2319.93,3,228.05,0.00,228.05,Impo,Courier Impo,Courier,18.0,Casual